/*
With Sass, you can store information in variables, like:
strings
numbers
colors
booleans
lists
nulls
Sass uses the $ symbol, followed by a name, to declare variables:
*/
/*Variable*/
p {
  font: 10px/8px;
  width: 50px;
  width: 1;
  height: 250px;
  margin-left: 9px;
  font: italic bold 10px/8px; }

.img {
  background: "../../img/img1.png"; }

p.foo {
  border-color: blue; }
