div.container{
    div.courses{
        div.course{
            overflow: hidden;
            .course-content{
                text-align: center;
                &-name{
                    font: {
                        size: 25px;
                        weight: 500;
                    }
                    color: red;
                }
                &-describe{
                     font: {
                        size: 18px;
                        weight: 400;
                    }
                    color: blue;
                }
            }

            a{
                overflow: hidden;
                display: block;
                img{
                overflow: hidden;
                    &:hover{
                        opacity: 0.8;
                        transform: scale(1.2);
                        transition: transform 0.5s;
                        width: 100%;
                    }
                }
            }

           
        }
    }
}